@model List<AnnounceViewModel>
@{
    ViewData["Title"] = "Announce Page";
}
<div class="container">
    <form method="post" id="form1">
        <h3>
            发布公告
        </h3>
        <div class="mb-3">
            <label for="titleinput" class="form-label">标题</label>
            <input type="text" name="title" class="form-control" id="titleinput">
        </div>
        <div class="mb-3">
            <label for="contentinput" class="form-label">内容</label>
            <input type="text" name="content" class="form-control" id="contentinput">
        </div>
        <div class="mb-3 d-flex flex-row gap-3">
            <div>
                <label for="visiblenotafterinput" class="form-label">在不晚于以下版本生效</label>
                <input type="text" name="visiblenotafter" class="form-control" id="visiblenotafterinput">
            </div>
            <div class="flex-fill">
                <label for="visibleexactinput" class="form-label">在以下版本生效 (逗号分隔)</label>
                <input type="text" name="visibleexact" class="form-control" id="visibleexactinput">
            </div>
        </div>
        <button type="button" onclick="create()" class="btn btn-primary">发布</button>
    </form>
    <hr/>
    <h3>
        管理公告
    </h3>
    <table class="table">
        <thead>
        <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">标题</th>
            <th scope="col">内容</th>
            <th scope="col">生效版本</th>
            <th scope="col" style="min-width: 4rem">作者</th>
            <th scope="col">创建时间</th>
            <th scope="col">是否生效</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th class="text-center" scope="row">@item.Id</th>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td class="text-center">
                    <span>&lt;=</span>
                    <span>@item.VisibleNotAfter</span>
                    @if (item.VisibleExact != "")
                    {
                        <span>;</span>
                        <span>@item.VisibleExact</span>
                    }
                </td>
                <td class="text-center">@item.Author</td>
                <td class="text-center">@item.CreatedTime</td>
                <td class="text-center">@item.IsActive</td>
                <td class="text-center">
                    <a class="btn btn-link" asp-action="DeleteAnnounce" asp-route-id="@item.Id" asp-route-returnpage="@ViewData["page"]">删除</a>
                    <a class="btn btn-link" asp-action="ChangeAnnounceStatus" asp-route-id="@item.Id" asp-route-returnpage="@ViewData["page"]">更改状态</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        @if ((int)ViewData["page"] != 1)
        {
            <a class="btn btn-primary" asp-action="Announce" asp-route-page='@((int)ViewData["page"] - 1)'>上一页</a>
        }
        <a class="btn-primary btn" asp-action="Announce" asp-route-page='@((int)ViewData["page"] + 1)'>下一页</a>
    </div>
</div>
<script>
    function create(){
        $.ajax({
            type:"POST",
            url:"/Home/CreateAnnounce",
            data:$("#form1").serialize(),
            success:function (result){
                alert("创建成功");
                document.location.reload();
            },
            error:function (resp){
                alert("错误："+resp.responseText);
            }
        });
    }
</script>